<!doctype html>
<html>
<head>
<title>
契約先・常駐先登録画面
</title>
<link rel="stylesheet" type="text/css" href="../../stylesheets/umi_addclient.css">
<script type="text/javascript" src="../../javascripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../../javascripts/util/inputCheck.js"></script>
<script type="text/javascript" src="../../javascripts/umi_addclient.js"></script>
<meta charset="UTF-8">
</head>
<body>

<!-- 会社ロゴ -->
<a href="/"><img src="../../images/common/logo01.gif"></a>

<div class="line"></div>

<input type="hidden" id="access-key" value="<%= result.accessKey%>">

<div class="item">
	<%= result.err%>
</div>
<div class="item">
	<%= result.msg%>
</div>

<div class="addclient_frame">
	<form id="addclientForm" method="post">
		<input type="text" class="input require" name="clientCd" placeholder="契約先コード 例：0123"><br>
		<input type="text" class="input require" name="clientName" placeholder="契約先名"><br>
		<input type="submit" id="addClientButton" value="契約先を登録する">
	</form>

	<table id="clientTable">
		<tr>
			<th>契約先コード</th>
			<th>契約先名</th>
		</tr>
<% for(var i = 0; i < result.info.length; i++) {%>
		<tr>
			<td><%= result.info[i].client_cd%></td>
			<td><%= result.info[i].client_name%></td>
		</tr>
<% } %>
	</table>
</div>

<div class="addworkplace_frame">
	<form id="addworkplaceForm" method="post">
		<input type="hidden" id="selectedClientCd" name="clientCd">
		<input type="text" class="input require" name="workplaceCd" placeholder="常駐先コード 例：0123"><br>
		<input type="text" class="input require" name="workplaceName" placeholder="常駐先名"><br>
		<input type="text" id="nearStationSupport" name="nearStationSupport" placeholder="最寄り駅">
		<select class="input require" id="nearStation" name="nearStation">
			<option value="">-</option>
		</select><br>
		<input type="text" class="input require" name="address" placeholder="住所"><br>
		<input type="submit" id="addWorkplaceButton" value="常駐先を登録する">
	</form>
	
	<table id="workplaceTable">
		<tr>
			<th>常駐先コード</th>
			<th>常駐先名</th>
			<th>最寄り駅</th>
			<th>住所</th>
		</tr>
	</table>
</div>

</body>
</html>