<!doctype html>
<html>
<head>
<title>
社員登録画面
</title>
<link rel="stylesheet" type="text/css" href="../../stylesheets/umi_addemployee.css">
<script type="text/javascript" src="../../javascripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../../javascripts/umi_addemployee.js"></script>
<meta charset="UTF-8">
</head>
<body>

<!-- 会社ロゴ -->
<a href="/"><img src="../../images/common/logo01.gif"></a>

<form method="post" id="regist-form">
<input type="button" id="add-button" value="フォーム追加">
<input type="button" id="regist-button" value="まとめて登録する"><br>

		<div class="row">
			<label class="require">社員No</label><br>
			<label class="require">会社</label><br>
			<label class="require">姓</label><br>
			<label class="require">名</label><br>
			<label class="require">セイ</label><br>
			<label class="require">メイ</label><br>
			<label class="require">部署</label><br>
			<label class="require">メールアドレス</label><br>
			<label class="require">入社年月日</label><br>
			<label class="require">性別</label><br>
			<label class="require">生年月日</label><br>
			<label class="require">郵便番号</label><br>
			<label class="require">住所</label><br>
			<label>電話番号</label><br>
			<label>携帯電話番号</label><br>
			<label class="require">郵便番号(緊急)</label><br>
			<label class="require">住所(緊急)</label><br>
			<label class="require">電話番号(緊急)</label><br>
			<label class="require">最終学歴</label><br>
			<label class="require">出身校</label><br>
			<label>学科</label><br>
		</div>
<div class="scroll-form">
	<div id="input-form" class="input-form">
		<div id="original-form" class="original row">
			<input type="text" class="input require" name="employeeNo" value="<%= query.employeeNo%>"><br>
			<input type="radio" class="input require" name="companyCd" value="00001">CS<input type="radio" class="input" name="companyCd" value="00002">RN<br>
			<input type="text" class="input require" name="employeeFamilyName" value="<%= query.employeeFamilyName%>"><br>
			<input type="text" class="input require" name="employeeFirstName" value="<%= query.employeeFirstName%>"><br>
			<input type="text" class="input require" name="employeeFamilyNameKana" value="<%= query.employeeFamilyNameKana%>"><br>
			<input type="text" class="input require" name="employeeFirstNameKana" value="<%= query.employeeFirstNameKana%>"><br>
			<select class="input require" name="deptCd">
				<option value="0011">営業本部営業1部営業課</option>
			</select><br>
			<input type="text" class="input require" name="email" value="<%= query.email%>"><br>
			<input type="text" class="input require" name="employDate" value="<%= query.employDate%>"><br>
			<input type="radio" class="input require" name="gender" value="0">男性<input type="radio" class="input require" name=gender" value="1">女性<br>
			<input type="text" class="input require" name="birthDate" value="<%= query.birthDate%>"><br>
			<input type="text" class="input require" name="zip" value="<%= query.zip%>"><br>
			<input type="text" class="input require" name="address" value="<%= query.address%>"><br>
			<input type="text" class="input" name="telNo" value="<%= query.telNo%>"><br>
			<input type="text" class="input" name="cellTelNo" value="<%= query.cellTelNo%>"><br>
			<input type="text" class="input require" name="zipHome" value="<%= query.zipHome%>"><br>
			<input type="text" class="input require" name="addressHome" value="<%= query.addressHome%>"><br>
			<input type="text" class="input require" name="telNoHome" value="<%= query.telNoHome%>"><br>
			<input type="text" class="input require" name="education" value="<%= query.education%>"><br>
			<input type="text" class="input require" name="school" value=""<%= query.school%>><br>
			<input type="text" class="input" name="course" value="<%= query.course%>"><br>
		</div>
	</div>
</div>

</form>

</body>
</html>