<!doctype html>
<html>
<head>
<title>
<%= title%>
</title>
<link rel="stylesheet" type="text/css" href="../../stylesheets/umi_search_list.css">
<script type="text/javascript" src="../../javascripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../../javascripts/umi_search_list.js"></script>
<meta charset="UTF-8">
</head>
<body>

<!-- 会社ロゴ -->
<img src="../../images/image01.gif">

<hr>

所属：
<label><%= result.COMPANY_NAME%></label>
｜
区分：
<label>社員</label>

<div>
	<table border="1">
		<tr>
			<td>社員No</td>
			<td><%= result.EMPLOYEE_NO%></td>
			<td rowspan="9"><img src="../../images/shainPhoto/<%= result.EMPLOYEE_NO%>.jpg"></td>
		</tr>
		<tr>
			<td>名前</td>
			<td><%= result.EMPLOYEE_FAMILY_NAME%> <%= result.EMPLOYEE_FIRST_NAME%></td>
		</tr>
		<tr>
			<td>フリガナ</td>
			<td><%= result.EMPLOYEE_FAMILY_NAME_KANA%> <%= result.EMPLOYEE_FIRST_NAME_KANA%></td>
		</tr>
		<tr>
			<td>部署</td>
			<td><%= result.GROUP_NAME%><%= result.DEPT_NAME%><%= result.SECTION_NAME%></td>
		</tr>
		<tr>
			<td>役職</td>
			<td><%= result.POSITION%>(XXXX年XX月昇格)</td>
		</tr>
		<tr>
			<td>契約先</td>
			<td><%= result.CLIENT_NAME%></td>
		</tr>
		<tr>
			<td>出向先</td>
			<td><%= result.WORK_PLACE_NAME%></td>
		</tr>
		<tr>
			<td>メールアドレス</td>
			<td><%= result.EMAIL%></td>
		</tr>
		<tr>
			<td>入社年月日</td>
			<td>XXXX年XX月XX日(XX年目)</td>
		</tr>
	</table>

	<table border="1">
		<tr>
			<td>性別</td>
			<td>男</td>
			<td>生年月日</td>
			<td>XXXX年XX月XX日(XX歳)</td>
		</tr>
		<tr>
			<td>郵便番号</td>
			<td colspan="3">101-0032</td>
		</tr>
		<tr>
			<td>住所</td>
			<td colspan="3"><%= result.ADDRESS%></td>
		</tr>
		<tr>
			<td>電話番号</td>
			<td><%= result.TEL_NO%></td>
			<td>携帯番号</td>
			<td><%= result.CELL_TEL_NO%></td>
		</tr>
		<tr>
			<td>郵便番号(実家)</td>
			<td colspan="3">101-0032</td>
		</tr>
		<tr>
			<td>住所(実家)</td>
			<td colspan="3"><%= result.ADDRESS_HOME%></td>
		</tr>
		<tr>
			<td>電話番号(実家)</td>
			<td colspan="3"><%= result.TEL_NO_HOME%></td>
		</tr>
	</table>

	<table border="1">
		<tr>
			<td>最終学歴</td>
			<td><%= result.EDUCATION%></td>
		</tr>
		<tr>
			<td>出身校/学科</td>
			<td><%= result.SCHOOL%>/<%= result.COURSE%></td>
		</tr>

<% for(var i = 0; i < qualify.length; i++) {%>
		<tr>
			<td><%= qualify[i].QUALIFY_NAME%></td>
			<td>XXXX年XX月取得</td>
		</tr>
<% }%>

	</table>

</div>

</body>
</html>