<!doctype html>
<html>
<head>
<title>
<%= title%>
</title>
<link rel="stylesheet" type="text/css" href="../../stylesheets/umi_search_detail.css">
<script type="text/javascript" src="../../javascripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../../javascripts/umi_search_detail.js"></script>
<meta charset="UTF-8">
</head>
<body>

所属：
<label><%= result.COMPANY_NAME%></label>
｜
区分：
<label><%= result.employeeType%></label>

<div>
	<table class="base-table">
		<colgroup class="base-table-col1"/>
		<colgroup class="base-table-col2"/>
		<colgroup class="base-table-col3"/>
		<tr>
			<td>社員No</td>
			<td>
				<%= result.EMPLOYEE_NO%>
				<input type="hidden" id="shainNo" value="<%= result.EMPLOYEE_NO%>">
			</td>
<%
var baseRowNum;
if (result.retireDate) {
	baseRowNum = 10;
} else {
	baseRowNum = 9;
}
%>
			<td rowspan="<%= baseRowNum%>"><div class="photo"><img src="" class="resize" style="display: none;"></div></td>
		</tr>
		<tr>
			<td>名前</td>
			<td><%= result.EMPLOYEE_FAMILY_NAME%> <%= result.EMPLOYEE_FIRST_NAME%></td>
		</tr>
		<tr>
			<td>フリガナ</td>
			<td><%= result.EMPLOYEE_FAMILY_NAME_KANA%> <%= result.EMPLOYEE_FIRST_NAME_KANA%></td>
		</tr>
		<tr>
			<td>部署</td>
			<td><%= result.GROUP_NAME%><%= result.DEPT_NAME%><%= result.SECTION_NAME%></td>
		</tr>
		<tr>
			<td>役職</td>
			<td>
<% if (result.POSITION) {%>
			<%= result.POSITION%>(<%= result.upgradeDate.year%>年<%= result.upgradeDate.month%>月昇格)
<% }%>
			</td>
		</tr>
		<tr>
			<td>契約先</td>
			<td><%= result.CLIENT_NAME%></td>
		</tr>
		<tr>
			<td>常駐先</td>
			<td>
				<%= result.WORK_PLACE_NAME%>
				<% if(result.routeUrl != null) { %>
					<a href="<%= result.routeUrl%>" target="route">定期</a>
				<% } %>
			</td>
		</tr>
		<tr>
			<td>メールアドレス</td>
			<td><%= result.EMAIL%></td>
		</tr>
		<tr>
			<td>入社年月日</td>
			<td title="<%= result.employDate.wareki%>"><%= result.employDate.year%>年<%= result.employDate.month%>月<%= result.employDate.day%>日(<%= result.entryYear%>年目)</td>
		</tr>
<% if (result.retireDate) {%>
		<tr>
			<td>退職年月日</td>
			<td title="<%= result.retireDate.wareki%>"><%= result.retireDate.year%>年<%= result.retireDate.month%>月<%= result.retireDate.day%>日</td>
		</tr>
<% }%>
	</table>

	<table class="personal-table">
		<colgroup class="personal-table-col1"/>
		<colgroup class="personal-table-col2"/>
		<colgroup class="personal-table-col3"/>
		<colgroup class="personal-table-col4"/>
		<tr>
			<td>性別</td>
			<td><%= result.gender%></td>
			<td>生年月日</td>
			<td title="<%= result.birthDate.wareki%>"><%= result.birthDate.year%>年<%= result.birthDate.month%>月<%= result.birthDate.day%>日(<%= result.age%>歳)</td>
		</tr>
		<tr>
			<td>郵便番号</td>
			<td colspan="3"><%= result.zip%></td>
		</tr>
		<tr>
			<td>住所</td>
			<td colspan="3"><%= result.ADDRESS%></td>
		</tr>
		<tr>
			<td>電話番号</td>
			<td><%= result.TEL_NO%></td>
			<td>携帯番号</td>
			<td><%= result.CELL_TEL_NO%></td>
		</tr>
		<tr>
			<td>業務中電話番号</td>
			<td colspan="3"><%= result.WORKING_TEL_NO%></td>
		</tr>
		<tr>
			<td>郵便番号(緊急)</td>
			<td colspan="3"><%= result.zipHome%></td>
		</tr>
		<tr>
			<td>住所(緊急)</td>
			<td colspan="3"><%= result.ADDRESS_HOME%></td>
		</tr>
		<tr>
			<td>電話番号(緊急)</td>
			<td colspan="3"><%= result.TEL_NO_HOME%></td>
		</tr>
	</table>

	<table class="qualify-table">
		<colgroup class="qualify-table-col1"/>
		<colgroup class="qualify-table-col2"/>
		<tr>
			<td>最終学歴</td>
			<td><%= result.EDUCATION%></td>
		</tr>
		<tr>
			<td>出身校/学科</td>
			<td><%= result.SCHOOL%>/<%= result.COURSE%></td>
		</tr>

<% for(var i = 0; i < qualify.length; i++) {%>
		<tr>
			<td><%= qualify[i].QUALIFY_NAME%></td>
			<td><%= qualify[i].acquireYear%>年<%= qualify[i].acquireMonth%>月取得</td>
		</tr>
<% }%>

	</table>

</div>

</body>
</html>