<!doctype html>
<html>
<head>
<title>
<%=title%>
</title>
<link rel="stylesheet" type="text/css" href="../../stylesheets/umi_search_list.css">
<script type="text/javascript" src="../../javascripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../../javascripts/umi_search_list.js"></script>
<meta charset="UTF-8">
</head>
<body>

<!-- 会社ロゴ -->
<a href="/"><img src="../../images/common/logo01.gif"></a>

<form method="get" name="searchForm" id="searchForm" action="list">

<div class="searchTypeLine"></div>

<div class="searchJoken-box">
	<select name="searchType" id="searchType-name" class="searchType-name">
		<option value="01"<%= (query.searchType == "01") ? " selected" : ""%>>名前で検索する</option>
		<option value="02"<%= (query.searchType == "02") ? " selected" : ""%>>入社年で検索する</option>
		<option value="03"<%= (query.searchType == "03") ? " selected" : ""%>>契約先で検索する</option>
		<option value="06"<%= (query.searchType == "06") ? " selected" : ""%>>退職年で検索する</option>
	</select>
	<hr>
	<div class="searchJoken-input-box">
		<label>検索条件</label>
		<input type="text" name="searchJoken" class="searchJoken-input-joken" id="searchJoken-input-text" value="<%= query.searchJoken%>" autofocus>
		<label>並び順</label>
		<select name="searchSort" class="searchJoken-input-sort">
			<option value="01"<%= (query.searchSort == "01") ? " selected" : ""%>>社員No</option>
			<option value="02"<%= (query.searchSort == "02") ? " selected" : ""%>>名前</option>
		</select>
		<br>
	</div>
	<div class="searchJoken-button-box">
		<input type="submit" name="searchButton" class="search-button" id="searchButton" value="検索する" >
	</div>
</div>

</form>


<div class="searchResult-box">
	<div class="searchResult-count-box">
		検索結果<label id="searchResult-count"><%= result.length %></label>件です(退職者<%= countResigned.COUNT%>件)
	</div>
	<table class="searchResult-table">
		<tr>
			<th class="searchResult-table-no-header">No.</th>
			<th class="searchResult-table-name-header">名前</th>
			<th class="searchResult-table-busho-header">部署</th>
			<th class="searchResult-table-yakushoku-header">役職</th>
			<th class="searchResult-table-keiyakusaki-header">契約先/常駐先</th>
			<th class="searchResult-table-email-header">メールアドレス</th>
			<th class="searchResult-table-telno-header">電話番号</th>
			<th class="searchResult-table-detail-header">詳細</th>
		</tr>
<% for(var i = 0; i < result.length; i++) {%>
		<tr class="<%= result[i].resigned%>">
			<td><%= result[i].EMPLOYEE_NO%></td>
			<td><%= result[i].EMPLOYEE_FAMILY_NAME%> <%= result[i].EMPLOYEE_FIRST_NAME%></td>
			<td><%= result[i].DEPT_NAME%></td>
			<td><%= result[i].POSITION%></td>
			<td><%= result[i].CLIENT_NAME%>/<%= result[i].WORK_PLACE_NAME%></td>
			<td>
				<a href="mailto:<%= result[i].EMAIL%>"><img src="../../images/common/email.png" class="email"></a>
				<%= result[i].EMAIL%>
			</td>
			<td><%= result[i].CELL_TEL_NO%></td>
			<td class="searchResult-table-detail-body"><input type="button" class="detail-button" data-key="<%= result[i].EMPLOYEE_NO%>"></td>
		</tr>
<% }%>
	</table>

</div>


</body>
</html>