<!doctype html>
<html>
<head>
<title>
更新権限設定画面
</title>
<link rel="stylesheet" type="text/css" href="../../stylesheets/umi_setauth.css">
<script type="text/javascript" src="../../javascripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../../javascripts/umi_setauth.js"></script>
<meta charset="UTF-8">
</head>
<body>

<!-- 会社ロゴ -->
<a href="/"><img src="../../images/common/logo01.gif"></a>

<div class="line"></div>

<div class="setauth_frame">
	<form id="setauthForm" method="post" action="/setauth">
		<div class="item">
			社員No
			<input type="text" name="shainNo" value="<%= query.shainNo%>" placeholder="例：00001" autofocus>
			<%= result.name%>
		</div>
		<div class="item">
			設定する権限<br>
			<select name="writable" size="4">
				<option value="X"<%= (query.writable == "X") ? " selected" : ""%>>閲覧禁止</option>
				<option value="0"<%= (query.writable == "0") ? " selected" : ""%>>参照のみ</option>
				<option value="1"<%= (query.writable == "1") ? " selected" : ""%>>更新権限</option>
				<option value="2"<%= (query.writable == "2") ? " selected" : ""%>>マスタ権限</option>
			</select>
		</div>
		<div>
		<input type="button" name="confirmButton" id="confirmButton" value="名前を確認する">
		<input type="button" name="setauthButton" id="setauthButton" value="権限を設定する">
		</div>
		<div>
		<%= result.err%>
		</div>
		<div>
		<%= result.msg%>
		</div>
	</form>
</div>

</body>
</html>